NET "sysclk" TNM_NET = sysclk;
TIMESPEC TS_clk = PERIOD "sysclk" 50 MHz HIGH 50%;

NET "sysclk" LOC = P56 | IOSTANDARD = LVTTL;
NET "sysrst_n" LOC = P38 | IOSTANDARD = LVTTL;
NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "logaddr<1>" LOC = P67 | IOSTANDARD = LVTTL;
NET "logaddr<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "logaddr<3>" LOC = P75 | IOSTANDARD = LVTTL;
NET "logaddr<4>" LOC = P78 | IOSTANDARD = LVTTL;
NET "logaddr<5>" LOC = P79 | IOSTANDARD = LVTTL;
NET "logaddr<6>" LOC = P80 | IOSTANDARD = LVTTL;
NET "logaddr<7>" LOC = P81 | IOSTANDARD = LVTTL;
NET "logaddr<8>" LOC = P82 | IOSTANDARD = LVTTL;
NET "logaddr<9>" LOC = P83 | IOSTANDARD = LVTTL;
NET "logaddr<10>" LOC = P84 | IOSTANDARD = LVTTL;
NET "logaddr<11>" LOC = P85 | IOSTANDARD = LVTTL;
NET "logaddr<12>" LOC = P87 | IOSTANDARD = LVTTL;
NET "logaddr<13>" LOC = P88 | IOSTANDARD = LVTTL;
NET "logaddr<14>" LOC = P92 | IOSTANDARD = LVTTL;
NET "logaddr<15>" LOC = P93 | IOSTANDARD = LVTTL;
NET "logaddr<16>" LOC = P94 | IOSTANDARD = LVTTL;
NET "logaddr<17>" LOC = P95 | IOSTANDARD = LVTTL;
NET "logaddr<18>" LOC = P97 | IOSTANDARD = LVTTL;
NET "logaddr<19>" LOC = P98 | IOSTANDARD = LVTTL;
NET "logaddr<20>" LOC = P99 | IOSTANDARD = LVTTL;
NET "logaddr<21>" LOC = P100 | IOSTANDARD = LVTTL;
NET "logaddr<22>" LOC = P101 | IOSTANDARD = LVTTL;
NET "logaddr<23>" LOC = P102 | IOSTANDARD = LVTTL;

NET "physaddr<12>" LOC = P50 | IOSTANDARD = LVTTL;
NET "physaddr<13>" LOC = P51 | IOSTANDARD = LVTTL;
NET "physaddr<14>" LOC = P40 | IOSTANDARD = LVTTL;
NET "physaddr<15>" LOC = P41 | IOSTANDARD = LVTTL;
NET "physaddr<16>" LOC = P34 | IOSTANDARD = LVTTL;
NET "physaddr<17>" LOC = P35 | IOSTANDARD = LVTTL;
NET "physaddr<18>" LOC = P32 | IOSTANDARD = LVTTL;
NET "physaddr<19>" LOC = P33 | IOSTANDARD = LVTTL;

NET "re_n" LOC = P29 | IOSTANDARD = LVTTL;
NET "we_n" LOC = P30 | IOSTANDARD = LVTTL;

NET "ipl_n<0>" LOC = P26 | IOSTANDARD = LVTTL;
NET "ipl_n<1>" LOC = P27 | IOSTANDARD = LVTTL;
NET "ipl_n<2>" LOC = P23 | IOSTANDARD = LVTTL;

NET "berr_n" LOC = P24 | IOSTANDARD = LVTTL;
NET "dtack_n" LOC = P22 | IOSTANDARD = LVTTL;
NET "w_n" LOC = P16 | IOSTANDARD = LVTTL;
NET "lds_n" LOC = P17 | IOSTANDARD = LVTTL;
NET "uds_n" LOC = P14 | IOSTANDARD = LVTTL;
NET "as_n" LOC = P15 | IOSTANDARD = LVTTL;

NET "cpuclk" TNM_NET = cpuclk;
TIMESPEC TS_cpuclk = PERIOD "cpuclk" 6.25 MHz HIGH 50%;
NET "cpuclk" LOC = P21 | IOSTANDARD = LVTTL;

NET "d<0>" LOC = P11 | IOSTANDARD = LVTTL;
NET "d<1>" LOC = P12 | IOSTANDARD = LVTTL;
NET "d<2>" LOC = P9 | IOSTANDARD = LVTTL;
NET "d<3>" LOC = P10 | IOSTANDARD = LVTTL;
NET "d<4>" LOC = P7 | IOSTANDARD = LVTTL;
NET "d<5>" LOC = P8 | IOSTANDARD = LVTTL;
NET "d<6>" LOC = P5 | IOSTANDARD = LVTTL;
NET "d<7>" LOC = P6 | IOSTANDARD = LVTTL;
NET "d<8>" LOC = P1 | IOSTANDARD = LVTTL;
NET "d<9>" LOC = P2 | IOSTANDARD = LVTTL;
NET "d<10>" LOC = P143 | IOSTANDARD = LVTTL;
NET "d<11>" LOC = P144 | IOSTANDARD = LVTTL;
NET "d<12>" LOC = P141 | IOSTANDARD = LVTTL;
NET "d<13>" LOC = P142 | IOSTANDARD = LVTTL;
NET "d<14>" LOC = P139 | IOSTANDARD = LVTTL;
NET "d<15>" LOC = P140 | IOSTANDARD = LVTTL;

NET "hsync" LOC = P137 | IOSTANDARD = LVTTL;
NET "vsync" LOC = P138 | IOSTANDARD = LVTTL;

NET "br_n" LOC = P133 | IOSTANDARD = LVTTL;
NET "bg_n" LOC = P134 | IOSTANDARD = LVTTL;

NET "csram1_n" LOC = P131 | IOSTANDARD = LVTTL;
NET "csram2_n" LOC = P132 | IOSTANDARD = LVTTL;
NET "csrom_n" LOC = P127 | IOSTANDARD = LVTTL;

NET "avec_n" LOC = P126 | IOSTANDARD = LVTTL;
NET "cpurst_n" LOC = P123 | IOSTANDARD = LVTTL;
NET "halt_n" LOC = P124 | IOSTANDARD = LVTTL;

NET "fc<0>" LOC = P66 | IOSTANDARD = LVTTL;
NET "fc<1>" LOC = P58 | IOSTANDARD = LVTTL;
NET "fc<2>" LOC = P57 | IOSTANDARD = LVTTL;

NET "red<0>" LOC = P104 | IOSTANDARD = LVTTL;
NET "red<1>" LOC = P105 | IOSTANDARD = LVTTL;
NET "red<2>" LOC = P111 | IOSTANDARD = LVTTL;
NET "red<3>" LOC = P112 | IOSTANDARD = LVTTL;

NET "green<0>" LOC = P114 | IOSTANDARD = LVTTL;
NET "green<1>" LOC = P115 | IOSTANDARD = LVTTL;
NET "green<2>" LOC = P116 | IOSTANDARD = LVTTL;
NET "green<3>" LOC = P117 | IOSTANDARD = LVTTL;

NET "blue<0>" LOC = P118 | IOSTANDARD = LVTTL;
NET "blue<1>" LOC = P119 | IOSTANDARD = LVTTL;
NET "blue<2>" LOC = P120 | IOSTANDARD = LVTTL;
NET "blue<3>" LOC = P121 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;
